GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
# use `npx wrangler secret put GITHUB_CLIENT_XXX` to put the secrets
# set to 'true' to skip login on localhost. will directly log in with your PAT
SKIP_LOGIN=
GITHUB_PAT=